Documentation/
node_modules/
dist/
.env
**/.env
*.pyc
__pycache__/
.pytest_cache/
instance/
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.sln
*.db
*.log
frontend/build_log.txt
frontend/build_error.txt
help.txt
.venv/
uploads/
test_uploads/
